html{
	scroll-behavior:smooth;
}

/* For body */
@font-face{
	font-family:"zfronk_font";
	src: url("fonts_folder/playtime.ttf") format("truetype");
}

/* For headers */
@font-face{
	font-family:"zfronk_header";
	src: url("fonts_folder/chill_chirp.otf") format("opentype");
}

header{
	display:flex;
	justify-content:center;
}


body{
	text-align: center; /* Align all items center */
	font-family: "zfronk_font";
	background-color:#f9f9f9; /* Beige background */
	margin-bottom:15px;
	padding-left:50px;
	padding-right:50px;
	padding-top:20px;
	padding-bottom:20px;
}


h1{
	text-shadow: 5px 5px 5px grey; /* Shadow on grey */
	font-family:"zfronk_header";
	font-size: 55px;
	font-weight:bolder;
	text-decoration: none;
	letter-spacing: 1.5px;
	text-transform: uppercase; /* Make uppercase */
	
}

h2{
	text-decoration:underline;
	font-family:"zfronk_header";
	font-size:55px;
}


a{
	text-decoration: none;
	font-size:25px;	
}

p{
	font-size: 28px;
	letter-spacing:none;
}


ul{
	list-style: inside;
	display: inline-block;
	text-align: left;
	
}

li{
	font-size: 28px;
}


footer{
	display:flex;
	flex-direction:column;
	justify-content:end;
	align-items:end;
	font-size:23px;
	margin-top:10px;
	font-weight:bolder;
}

#post_comment_button{
	border-radius:3px;
	border:solid 2px;	
	font-family:"zfronk_font";
	font-size:25px;
	padding:10px;
	text-shadow:2px 2px 2px grey;
	box-shadow:2px 2px 2px grey;
	margin:5px;
}

label{
	font-size:30px;

}


textarea{
	border:solid 2px;
	font-family:"zfronk_font";
	font-size:23px;
	border-radius:5px;
	width:60%;
	padding:20px;

}



form{
	margin:10px !important;
}

#link_to_comments{
	display:inline-block;
	margin:10px;
	
}
