body{
	text-align:center; /* Align all items center */
	font-family: Boogaloo;
}


h1{
	text-shadow:5px 5px 5px #ddd; /* Shadow on grey */
	font-size:40px;
	text-decoration:underline;
	letter-spacing:5px;
	
}


